#navbar {
  /* background-color: #80ed99; */
  background: linear-gradient(to right, #e0f7fa, #0288d1);
  padding: 10px 10px;
  height: 100px;
  color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

#navbar .title {
  display: flex;

  justify-content: center;
  font-size: 32px;
}

#navbar .navigation {
  display: flex;
  justify-content: end;
  gap: 20px;
  color: black;
}

#menu-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

#navbar #menu {
  color: black;
  text-decoration: none;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Lighten the background on hover */
  border-radius: 5px; /* Add some rounding to the corners */
}
